* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form input[type=text] {
    padding: 5px;
}

form input[type=submit] {
    padding: 3px 15px;
}

#error {
    display: block;
    height: 20px;
    color: red;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 600px;
    height: 300px;
    border: 1px solid black ;
}